.hide {
    display: none;
}

body {
    padding: 0;
    margin: 0;
    justify-content: center;
}

nav {
    overflow: hidden;
    color: white;
    background-color: #333;
    align-items: center;
    padding-right: 14px;
}

a { 
    color: inherit;
    text-decoration: none;
} 

#timer {
    float: right;
}

.score {
    float: left;
    text-align: center;
    padding: 14px 16px;
}